/* 
    css praquela barra que fica no topo do layout com as informações do usuario
*/

#controler_bar
{
    width: 100%;
    height: 50px;
    background-color:#FFF;
    border-top:1px solid;
    border-bottom:1px solid;

}

#controler_bar div
{
    width: auto;
    height: 10px;
    float: left;
    margin-right: 7px;
    
}

#controler_bar>div
{
    float: right;  
    padding: 0;
 
}

#controler_bar a
{
    margin:0px;
}

#controler_bar>span
{
    float: left; 
    padding-top:1.4%;
    padding-left:2%;
}