ul.menu-definition
{
	display: block;
	width: auto;
	height: auto;
	padding: 0;
	position: fixed;
	left: 0;
	top: 100px;
	border: 1px solid;
}

li.menu-item
{
	display: block;
	width: auto;
	height: auto;
	max-height: 60px;
	margin: 5px;
	float: left;
	clear: left;
	border: 1px solid;
}

li.menu-item ul
{
	display:none;
	visibility: hidden;
}

li.menu-item:hover ul
{
	display: block;
	visibility: visible;
}

img.float
{
    float: left;
}

ul.submenu-definition
{
	display: block;
	width: auto;
	height: auto;
	float: left;
	padding-left: 0;
	border: 1px solid;
}

li.menu-subitem
{
	display: block;
	width: 50px;
	height: 50px;
	float: left;
	margin: 5px;
	border: 1px solid;
}