ul,li
{
    	border: 1px solid;
}

ul.menu-definition
{
	display: block;
	width: auto;
	height: auto;
	padding: 0;
	position: fixed;
	left: 0;
	top: 100px;
        background-color: #8f8f8f;
}

li.menu-item
{
	display: block;
	width: auto;
	height: auto;
	margin: 5px;
	float: left;
	clear: left;
        background-color: #6b6b6b;
}

li.menu-item img
{
    float: left;
    background-color: #FFF;
}

li.menu-item ul
{
	display:none;
	visibility: hidden;
}

li.menu-item:hover ul
{
	display: block;
	visibility: visible;
        background-color: #6b6b6b;
}

ul.submenu-definition
{
	display: block;
	width: auto;
	height: auto;
	float: left;
	padding-left: 0;
}

li.menu-subitem
{
	display: block;
	width: 50px;
	height: 50px;
	float: left;
	margin: 5px;
}

li.menu-subitem img
{
        background-color: #FFF;
}